/* screen - wronglettermatching-2 */

.wronglettermatching-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  position: relative;
  width: 375px;
}

.wronglettermatching-2 .padding-frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 16px;
  position: relative;
  width: 100%;
}

.wronglettermatching-2 .title-frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0px;
  position: relative;
  width: 100%;
}

.wronglettermatching-2 .progress-frame {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 12px;
  width: 100%;
}

.wronglettermatching-2 .progress-bar {
  align-items: flex-start;
  background-color: var(--mercury);
  border-radius: 999px;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  overflow: hidden;
}

.wronglettermatching-2 .question {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.wronglettermatching-2 .text-87 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.wronglettermatching-2 .text-frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.wronglettermatching-2 .io-kion-oni-faras {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.wronglettermatching-2 .is-the-friend-of-you-father- {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.wronglettermatching-2 .button-frame {
  align-self: stretch;
  flex: 0 0 auto;
  margin-bottom: -3.00px;
  position: relative;
  width: 100%;
}

.wronglettermatching-2 .letter-block {
  align-items: center;
  background-color: var(--mercury);
  border-radius: 999px;
  display: inline-flex;
  flex: 0 0 auto;
  height: 40px;
  justify-content: center;
  min-width: 40px;
  padding: 8px 12px;
  position: relative;
}

.wronglettermatching-2 .a {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.50px;
  opacity: 0;
  position: relative;
  text-align: center;
}

.wronglettermatching-2 .list {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 8px 8px;
  position: relative;
  width: 100%;
}

.wronglettermatching-2 .letter-block-1 {
  align-items: center;
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--mercury);
  border-radius: 999px;
  display: inline-flex;
  flex: 0 0 auto;
  height: 40px;
  justify-content: center;
  min-width: 40px;
  padding: 8px 12px;
  position: relative;
}

.wronglettermatching-2 .a-3 {
  margin-top: -2.50px;
}

.wronglettermatching-2 .button-frame-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0px;
  position: relative;
  width: 100%;
}

.wronglettermatching-2 .button {
  align-items: center;
  align-self: stretch;
  background-color: var(--mercury);
  border-radius: 12px;
  box-shadow: 0px 3px 0px #b7b7b7;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 16px;
  position: relative;
  width: 100%;
}

.wronglettermatching-2 .text-88 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.wronglettermatching-2 .safe-area {
  height: 34px;
  position: relative;
  width: 375px;
}

.wronglettermatching-2 .a-12 {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.wronglettermatching-2 .progress-1 {
  display: flex;
  position: relative;
}
