:root { 
  --alien-armpit: #57cc02;
  --black: #000000;
  --gravel: #4b4b4b;
  --mercury: #e5e5e5;
  --silver: #c1c1c1;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 16px;
  --font-size-s: 12px;
 
  --font-family-noto_sans: "Noto Sans", Helvetica;
}
.notosans-bold-gravel-16px {
  color: var(--gravel);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.notosans-normal-gravel-16px {
  color: var(--gravel);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
