.Quiz_D-3 {
    width: 360px;
    height: 640px;
}

.Area1 {
    width: 320px;
    height: 24px;
    margin: 20px;
}

img.ic_close_gray {
    width: 24px;
    height: 24px;
    margin: 0 16px 0 0;
    padding: 3px;
    object-fit: contain;
    position: absolute;
    left: 20px;
    top: 44px;
}

.Rectangle-progress-bar {
    width: 280px;
    height: 16px;
    /* margin: 4px 0 4px 16px; */
    /* padding: 0 231px 0 0; */
    /* opacity: 0.3; */
    border-radius: 8px;
    border: solid 1.2px #888;
    background-color: #ccc;
    position: absolute;
    left: 60px;
    top: 48px;
}

.Rectangle-progress {
    width: 49px;
    height: 16px;
    border-radius: 8px;
    border: solid 1.2px #078d4f;
    background-color: #03bf6b;
    /* position: absolute; */
    left: 60px;
    top: 48px;
}

.Select-what-you-hear {
    width: 320px;
    height: 30px;
    margin: 20px 20px 16px;
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #111;
    position: absolute;
    left: 20px;
    top: 39px;
}

.Area2 {
    width: 320px;
    height: 40px;
    margin: 0 0 2px;
}

.Rectangle-speaker {
    width: 40px;
    height: 36px;
    padding: 10px 11px 10px 10px;
    border-radius: 12px;
    /* background-color: #ce82ff; */
    position: absolute;
    left: 280px;
    top: 49px;
}

.mi-vi {
    width: 264px;
    height: 25px;
    margin: 7px 0 8px 16px;
    font-family: NotoSansCJKkr;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #111;
    position: absolute;
    left: 27px;
    top: 95px;
}

.Area3 {
    width: 320px;
    height: 18px;
    margin: 2px 0 0;
    padding: 0 0 0 56px;
}

.I-you {
    width: 264px;
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #999;
    position: absolute;
    left: 43px;
    top: 135px;
}

.Rectangle1 {
    width: 320px;
    height: 61px;
    /* margin: 16px 20px 10px;
    padding: 20px 12px; */
    border-radius: 10px;
    border: solid 1px #ddd;
    position: absolute;
    left: 20px;
    top: 210px;
}

.Rectangle1-1 {
    width: 320px;
    height: 61px;
    /* margin: 10px 20px;
    padding: 19px 12px 20px; */
    /* opacity: 0.1; */
    border-radius: 10px;
    background-color: #ff5c58;
    /* position: absolute; */
    left: 20px;
    top: 210px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Rectangle2 {
    width: 320px;
    height: 61px;
    /* margin: 10px 20px;
    padding: 19px 12px 20px; */
    border-radius: 10px;
    border: solid 1px #ff5c58;
    position: absolute;
    left: 20px;
    top: 281px;
}

.Rectangle2-1 {
    width: 320px;
    height: 61px;
    /* margin: 10px 20px;
    padding: 19px 12px 20px; */
    /* opacity: 0.1; */
    border-radius: 10px;
    background-color: #ff5c58;
    /* position: absolute; */
    left: 20px;
    top: 281px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Rectangle3 {
    width: 320px;
    height: 61px;
    /* margin: 10px 20px;
    padding: 20px 12px; */
    border-radius: 10px;
    border: solid 1px #49c0f8;
    position: absolute;
    left: 20px;
    top: 352px;
}

.Rectangle3-1 {
    width: 320px;
    height: 61px;
    /* margin: 10px 20px;
    padding: 20px 12px; */
    /* opacity: 0.15; */
    border-radius: 10px;
    background-color: #49c0f8;
    /* position: absolute; */
    left: 20px;
    top: 352px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Rectangle4 {
    width: 320px;
    height: 61px;
    /* margin: 10px 20px 96px;
    padding: 20px 12px; */
    border-radius: 10px;
    border: solid 1px #ddd;
    position: absolute;
    left: 20px;
    top: 423px;
}

.Rectangle4-1 {
    width: 320px;
    height: 61px;
    /* margin: 10px 20px;
    padding: 19px 12px 20px; */
    /* opacity: 0.1; */
    border-radius: 10px;
    background-color: #ff5c58;
    /* position: absolute; */
    left: 20px;
    top: 423px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Inside1 {
    width: 296px;
    height: 21px;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    /* position: absolute; */
    left: 32px;
    top: 230px;
}

.Inside2 {
    width: 296px;
    height: 21px;
    margin: 1px 0 0;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    /* position: absolute; */
    left: 32px;
    top: 310px;
}

.Inside3 {
    width: 296px;
    height: 21px;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    /* position: absolute; */
    left: 32px;
    top: 372px;
}

.Inside4 {
    width: 296px;
    height: 21px;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    /* position: absolute; */
    left: 32px;
    top: 443px;
}

.Rectangle-listen {
    width: 100%;
    height: 60px;
    /* margin: 96px 0 0; */
    /* padding: 19px 20px 20px; */
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #03bf6b;
    position: fixed;
    left: 0px;
    /* top: 468px; */
    bottom: 0;
}

.Listen-and-continue {
    width: 320px;
    height: 21px;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: absolute;
    left: 20px;
    top: 599px;
}

.Continue {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}