body {
    margin: 0px;
    justify-content: center;
    display: flex;
}


.Quiz_C-3 {
    width: 360px;
    height: 640px;
    position: relative;
}

.Area1 {
    /* width: 320px; */
    /* height: 24px; */
    /* margin: 20px; */
    /* position: absolute; */
    /* left: 20px; */
    /* top: 44px; */
}

.RectangleN {
    width: 150px;
    height: 100px;
}

.RectangleN-1 {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #49c0f8;
}

.InsideN {
    width: 100%;
    height: 100%;
}

#speaker {
    width: 40px;
    height: 40px;
    padding: 10px 11px 10px 10px;
    border-radius: 12px;
    position: absolute;
    left: 286px;
    top: -25px;
}

.Select-what-you-hear {
    width: 320px;
    height: 30px;
    margin: 20px 20px 16px;
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #111;
    position: absolute;
    left: 20px;
    top: 40px;
}

.Area2 {
    width: 320px;
    height: 40px;
    margin: 0 0 2px;
    position: absolute;
    /* left: 20px; */
    top: 72px;
    height: 36px;
    padding: 10px 11px 10px 10px;
    border-radius: 12px;
    position: absolute;
    /* left: 20px; */
    /* top: 134px; */
}

.mi-vi {
    width: 264px;
    height: 25px;
    margin: 7px 0 8px 16px;
    font-family: NotoSansCJKkr;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #111;
    /* position: absolute; */
    /* left: 76px; */
    /* top: 141px; */
}

.Area3 {
    width: 320px;
    height: 18px;
    margin: 2px 0 0;
    padding: 0 0 0 56px;
    position: absolute;
    left: 20px;
    top: 176px;
}

.I-you {
    width: 264px;
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #999;
    position: absolute;
    left: 21px;
    top: -64px;
}

.Rectangle1 {
    width: 150px;
    height: 120px;
    margin: 16px 5px 10px 20px;
    /* padding: 50px 12px 22px; */
    border-radius: 10px;
    border: solid 1px #ff5c58;
    position: absolute;
    left: 3px;
    top: 200px;
}

.Rectangle1-1 {
    width: 155px;
    height: 121px;
    /* margin: 16px 5px 10px 20px; */
    /* padding: 50px 12px 22px; */
    border-radius: 10px;
    background-color: #ff5c58;
    position: absolute;
    /* left: 10px; */
    /* top: 85px; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.Inside1 {
    width: 131px;
    height: 21px;
    margin: 0 0 7px;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    /* position: absolute; */
    /* left: 32px; */
    /* top: 260px; */
}

.Rectangle2 {
    width: 150px;
    height: 120px;
    margin: 16px 20px 10px 5px;
    /* padding: 50px 12px; */
    border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    position: absolute;
    left: 180px;
    top: 200px;
}

.Rectangle2-1 {
    width: 155px;
    height: 121px;
    /* margin: 16px 5px 10px 20px; */
    /* padding: 50px 12px 22px; */
    border-radius: 10px;
    background-color: #ff5c58;
    /* position: absolute; */
    /* left: 185px; */
    /* top: 210px; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.Inside2 {
    width: 131px;
    height: 21px;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    /* position: absolute; */
    /* left: 197px; */
    /* top: 260px; */
}

.Rectangle3 {
    width: 150px;
    height: 120px;
    margin: 10px 5px 118px 20px;
    /* padding: 50px 12px; */
    border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    position: absolute;
    left: 3px;
    top: 334px;
}

.Rectangle3-1 {
    width: 155px;
    height: 121px;
    /* margin: 16px 5px 10px 20px; */
    /* padding: 50px 12px 22px; */
    border-radius: 10px;
    background-color: #ff5c58;
    /* position: absolute; */
    /* left: 20px; */
    /* top: 341px; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.Inside3 {
    width: 131px;
    height: 21px;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    /* position: absolute; */
    /* left: 32px; */
    /* top: 391px; */
}

.Rectangle4 {
    width: 150px;
    height: 120px;
    margin: 10px 20px 118px 5px;
    /* padding: 50px 12px; */
    border-radius: 10px;
    border: solid 1px #49c0f8;
    position: absolute;
    left: 180px;
    top: 334px;
}

.Rectangle4-1 {
    width: 155px;
    height: 121px;
    /* margin: 10px 20px 118px 5px; */
    /* padding: 50px 12px; */
    border-radius: 10px;
    background-color: #49c0f8;
    /* position: absolute; */
    /* left: 185px; */
    /* top: 341px; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.Inside4 {
    width: 131px;
    height: 21px;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    /* position: absolute; */
    left: 197px;
    top: 391px;
}

.Rectangle-continue {
    width: 50%;
    height: 60px;
    /* margin: 118px 0 0; */
    /* padding: 19px 20px 20px; */
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #03bf6b;
    position: absolute;
    left: 0px;
    /* top: 580px; */
    align-items: center;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.Span-continue {
    width: 140px;
    height: 21px;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    /* position: absolute; */
    left: 20px;
    top: 599px;
}

.Rectangle-listen {
    width: 50%;
    height: 60px;
    /* margin: 118px 0 0; */
    /* padding: 19px 20px 20px; */
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #4c5b75;
    position: fixed;
    left: 50%;
    /* top: 580px; */
    bottom: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Span-listen {
    width: 100%;
    height: 100%;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    background-color: #4c5b75;
    /* position: absolute; */
    left: 200px;
    top: 599px;
    color: white;
}

.Continue {
    background-color: #03bf6b;
    width: 100%;
    height: 100%;
}