.Quiz_D-3 {
    width: 360px;
    height: 640px;
}

.Area0 {
    width: 96%;
    position: absolute;
    top: 100px;
    left: 2%;

}

.Area1 {
    width: 320px;
    height: 24px;
    margin: 20px;
}

img.ic_close_gray {
    width: 24px;
    height: 24px;
    margin: 0 16px 0 0;
    padding: 3px;
    object-fit: contain;
    position: absolute;
    left: 20px;
    top: 44px;
}

.Rectangle-progress-bar {
    width: 280px;
    height: 16px;
    /* margin: 4px 0 4px 16px; */
    /* padding: 0 231px 0 0; */
    /* opacity: 0.3; */
    border-radius: 8px;
    border: solid 1.2px #888;
    background-color: #ccc;
    position: absolute;
    left: 60px;
    top: 48px;
}

.Rectangle-progress {
    width: 49px;
    height: 16px;
    border-radius: 8px;
    border: solid 1.2px #078d4f;
    background-color: #03bf6b;
    /* position: absolute; */
    left: 60px;
    top: 48px;
}

.Select-what-you-hear {
    /* width: 320px; */
    height: 30px;
    /* margin: 20px 20px 16px; */
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #111;
    position: absolute;
    left: 2%;
    top: 59px;
}

.Area2 {
    /* width: 320px; */
    /* height: 40px; */
    /* margin: 0 0 2px; */
}

.Rectangle-speaker {
    width: 40px;
    height: 36px;
    /* padding: 10px 11px 10px 10px; */
    border-radius: 12px;
    /* background-color: #ce82ff; */
    position: absolute;
    /* left: 280px; */
    top: 59px;
    right: 2%;
}

.mi-vi {
    width: 96%;
    height: 25px;
    /* margin: 7px 0 8px 16px; */
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #111;
    /* position: absolute; */
    left: 2%;
    top: 100px;
}

.Area3 {
    /* width: 320px; */
    /* height: 18px; */
    /* margin: 2px 0 0; */
    /* padding: 0 0 0 56px; */
}

.I-you {
    width: 96%;
    height: 18px;
    font-family: Arial, sans-serif;
    font-size: 15pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #999;
    /* position: absolute; */
    left: 2%;
    top: 145px;
}

.Rectangle1 {
    width: 96%;
    height: 61px;
    /* margin: 16px 20px 10px;
    padding: 20px 12px; */
    border-radius: 10px;
    border: solid 1px #ddd;
    position: absolute;
    left: 2%;
    top: 250px;
}

.Rectangle1-1 {
    width: 100%;
    height: 100%;
    /* margin: 10px 20px;
    padding: 19px 12px 20px; */
    /* opacity: 0.1; */
    border-radius: 10px;
    background-color: white;
    /* position: absolute; */
    left: 20px;
    top: 210px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Rectangle2 {
    width: 96%;
    height: 61px;
    /* margin: 10px 20px;
    padding: 19px 12px 20px; */
    border-radius: 10px;
    border: solid 1px white;
    position: absolute;
    left: 2%;
    top: 321px;
}

.Rectangle2-1 {
    width: 100%;
    height: 100%;
    /* margin: 10px 20px;
    padding: 19px 12px 20px; */
    /* opacity: 0.1; */
    border-radius: 10px;
    background-color: white;
    /* position: absolute; */
    left: 20px;
    top: 281px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Rectangle3 {
    width: 96%;
    height: 61px;
    /* margin: 10px 20px;
    padding: 20px 12px; */
    border-radius: 10px;
    border: solid 1px white;
    position: absolute;
    left: 2%;
    top: 392px;
}

.Rectangle3-1 {
    width: 100%;
    height: 100%;
    /* margin: 10px 20px;
    padding: 20px 12px; */
    /* opacity: 0.15; */
    border-radius: 10px;
    background-color: white;
    /* position: absolute; */
    left: 20px;
    top: 352px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.Rectangle4 {
    width: 96%;
    height: 61px;
    /* margin: 10px 20px 96px;
    padding: 20px 12px; */
    border-radius: 10px;
    border: solid 1px white;
    position: absolute;
    left: 2%;
    top: 463px;
}

.Rectangle4-1 {
    width: 100%;
    height: 100%;
    /* margin: 10px 20px;
    padding: 19px 12px 20px; */
    /* opacity: 0.1; */
    border-radius: 10px;
    background-color: white;
    /* position: absolute; */
    left: 20px;
    top: 423px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.Inside1 {
    width: 95%;
    height: 95%;
    font-family: Arial, sans-serif;
    font-size: 17pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    /* position: absolute; */
    left: 32px;
    top: 230px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.Inside2 {
    width: 95%;
    height: 95%;
    margin: 1px 0 0;
    font-family: Arial, sans-serif;
    font-size: 17pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    /* position: absolute; */
    left: 32px;
    top: 310px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.Inside3 {
    width: 95%;
    height: 95%;
    font-family: Arial, sans-serif;
    font-size: 17pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    /* position: absolute; */
    left: 32px;
    top: 372px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.Inside4 {
    width: 95%;
    height: 95%;
    font-family: Arial, sans-serif;
    font-size: 17pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    /* position: absolute; */
    left: 32px;
    top: 443px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.Rectangle-listen {
    width: 96%;
    height: 60px;
    /* margin: 96px 0 0; */
    /* padding: 19px 20px 20px; */
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #03bf6b;
    position: fixed;
    left: 2%;
    /* top: 468px; */
    bottom: 10px;
    /* display: flex; */
    border-radius: 10px;
}

.Listen-and-continue {
    width: 320px;
    height: 21px;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: absolute;
    left: 20px;
    top: 599px;
}

.Continue {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 18pt;
    background-color: #03bf6b;
    color: white;
    border-width: 0;
    font-weight: bold;
    border-radius: 10px;
}