.Area {
    width: 320px;
    height: 24px;
    margin: 20px;
}

img.ic_close_gray {
    width: 24px;
    height: 24px;
    margin: 0 16px 0 0;
    padding: 3px;
    object-fit: contain;
}

.Rectangle1 {
    width: 280px;
    height: 16px;
    margin: 4px 0 4px 16px;
    opacity: 0.3;
    border-radius: 8px;
    border: solid 1.2px #888;
    background-color: #ccc;
}

.Learn-a-new-Esperant {
    width: 320px;
    height: 60px;
    margin: 20px 20px 16px;
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #111;
}

.Quiz_A-2 {
    width: 360px;
    height: 640px;
}

.Rectangle_speak {
    width: 40px;
    height: 36px;
    padding: 10px 11px 10px 10px;
    border-radius: 12px;
    background-color: #ce82ff;
}

.mi-vi {
    width: 264px;
    height: 25px;
    margin: 7px 0 8px 16px;
    font-family: NotoSansCJKkr;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #111;
}

.\- {
    width: 264px;
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #999;
}

.I-you {
    width: 264px;
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #999;
}

.Rectangle_listen {
    width: 360px;
    height: 60px;
    margin: 16px 0 0;
    padding: 19px 20px 20px;
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #03bf6b;
  }

span {
    width: 140px;
    height: 21px;
    font-family: NotoSansCJKkr;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.Path {
    width: 9px;
    height: 16px;
    margin: 0 3px 0 0;
    background-color: #fff;
}

.Oval1 {
    width: 3px;
    height: 8px;
    margin: 4px 4px 4px 3px;
    border: solid 1.6px #fff;
}

.Oval2 {
    width: 5px;
    height: 15px;
    margin: 1px 0 0 5px;
    border: solid 1.6px #fff;
}

.Area1 {
    width: 320px;
    height: 18px;
    margin: 2px 0 12px;
    padding: 0 0 0 56px;
}

.Area2 {
    width: 320px;
    height: 18px;
    margin: 12px 0 0;
    padding: 0 0 0 56px;
}