body {
    margin: 0px;
    background-color: #03bf6b;
    justify-content: center;
    display: flex;
    height: 1300px;
}

span {
    width: 280px;
    height: 21px;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #078d4f;
}

.Rectangle-Background {
    width: 100%;
    height: 600px;
    padding: 0 0 60px;
    background-color: #03bf6b;
    position: relative;
    left: 0px;
    top: 0px;
}

img.logo_subtitle {
    width: 154px;
    height: 54px;
    margin: 36px 0px 20px 0px;
    object-fit: contain;
    position: absolute;
    left: 2%;
    /* top: 10px; */
}

img.ic_close_white {
    width: 24px;
    height: 24px;
    /* margin: 36px 20px 50px 86px; */
    padding: 3px;
    object-fit: contain;
    position: absolute;
    /* left: 296px; */
    top: 34px;
    right: 2%;
}

.Learn-Esperanto-by-E {
    width: 96%;
    height: 60px;
    /* margin: 20px 20px 10px; */
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #fff;
    position: absolute;
    left: 2%;
    top: 120px;
}

img.img_a {
    width: 100px;
    height: 100px;
    padding: 0 0 1px;
    object-fit: contain;
    position: absolute;
    left: calc(50% - 50px);
    top: 166px;
    z-index: 1;
}

.Rectangle-Copy {
    width: 96%;
    height: 800px;
    /* margin: 60px 20px; */
    padding: 66px 0 40px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    left: 2%;
    top: 214px;
    /* margin-bottom: 100px; */
}

.Left {
    left: 10%;
    position: absolute;

}

.Right {
    left: 55%;
    position: absolute;

}

.Esperanto-A- {
    width: 100%;
    height: 30px;
    /* margin: 0 20px 16px; */
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #111;
    /* position: absolute; */
    left: 0px;
    top: 320px;
    /* text-align: center; */
    display: inline-block;
    /* inline 요소를 block 요소로 변환하여 width와 height를 지정할 수 있도록 합니다. */
    text-align: center;
    /* span 요소의 글자를 가운데 정렬합니다. */
    /* width: 100%; */
    /* span 요소의 width를 100%로 설정하여 부모 요소의 width에 맞게 글자를 가운데 정렬합니다. */
}

img.ic_star_1 {
    width: 72px;
    height: 20px;
    margin: 16px 0px 10px;
    object-fit: contain;
    position: relative;
    left: calc(50% - 36px);
    /* top: 366px; */
}

.Points {
    width: 120px;
    height: 20px;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #999;
}

.Number {
    width: 120px;
    height: 30px;
    margin: 20px 0 0;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #111;
}

.progress {
    width: 120px;
    height: 20px;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #999;
}

.Needs-Review {
    width: 120px;
    height: 20px;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #999;
}

.Familiar {
    width: 120px;
    height: 20px;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #999;
}

.Total-Count {
    width: 120px;
    height: 20px;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #999;
}

.Middle-Bar {
    width: 1px;
    height: 129px;
    margin: 16px 159px 61px 0;
    background-color: #e9e9e9;
}

.Not-Seen {
    width: 120px;
    height: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #999;
}

.Mastered {
    width: 120px;
    height: 20px;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #999;
}

.\- {
    width: 280px;
    height: 100px;
    margin: 20px 20px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #999;
}

.Description-table {
    position: absolute;
    top: 340px;
    left: 2%;
    width: 96%;
    font-size: 15pt;
}

.Short-description {
    /* position: absolute; */
    /* top: 358px;
    left: 2%;
    width: 96%; */
    font-size: 15pt;
}

.description {
    /* position: absolute; */
    /* top: 500px;
    left: 2%;
    width: 96%; */
    font-size: 15pt;
}

.Rectangle1 {
    width: 320px;
    height: 60px;
    margin: 60px 20px 10px;
    padding: 19px 20px 20px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    left: 20px;
    top: 852px;
}

.Rectangle2 {
    width: 320px;
    height: 60px;
    margin: 10px 20px;
    padding: 19px 20px 20px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    left: 20px;
    top: 922px;
}

.Rectangle3 {
    width: 320px;
    height: 60px;
    margin: 10px 20px 0;
    padding: 19px 20px 20px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    left: 20px;
    top: 992px;
}

.Rectangle4 {
    width: 100%;
    height: 60px;
    /* margin: 1112px 0 0; */
    /* padding: 19px 20px 20px; */
    box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #4c5b75;
    position: fixed;
    /* left: 0px; */
    /* top: 651px; */
    bottom: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Start-Learning {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    /* position: absolute; */
    left: 20px;
    top: 131px;
    background-color: #4c5b75;
    border-width: 0;
}