* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 0;
  align-content: center;
}

.Rectangle-Background {
  width: 360px;
  height: 1784px;
  padding: 0 0 60px;
  background-color: #03bf6b;
}


.User-courses {
  width: 360px;
  height: 1784px;
  padding: 0 0 60px;
}

img.logo_subtitle {
  width: 154px;
  height: 54px;
  margin: 36px 186px 20px 20px;
  object-fit: contain;
}

.Learn-Esperanto-by-E {
  width: 320px;
  height: 60px;
  margin: 20px 20px 16px;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #fff;
}

.Rectangle-Copy {
  width: 320px;
  height: 384px;
  margin: 16px 20px 10px;
  padding: 32px 20px;
  border-radius: 10px;
  background-color: #fff;
}

.Esperanto-A- {
  width: 280px;
  height: 30px;
  margin: 0 0 8px;
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #111;
}

.Short-description {
  width: 280px;
  height: 40px;
  margin: 8px 0 20px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #999;
}

img.img_a {
  width: 100px;
  height: 100px;
  margin: 39px 12px 43px 0;
  padding: 0 0 1px;
  object-fit: contain;
}

.Words-600-Words-t {
  width: 168px;
  height: 138px;
  margin: 20px 0 24px 12px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #111;
}

.Words-600-Words-t .text-style-1 {
  font-family: LucidaGrande;
}

.Rectangle-Button {
  width: 280px;
  height: 60px;
  margin: 24px 0 0;
  /* padding: 19px 20px 20px; */
  border-radius: 2px;
  background-color: #03bf6b;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Learn-Esperanto-Button-Inside {
  width: 240px;
  height: 21px;
  font-family: NotoSansCJKkr;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  background-color: #03bf6b;
}

.Esperanto-B- {
  width: 280px;
  height: 30px;
  margin: 0 0 8px;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #111;
}

.-Jen-Nia {
  width: 280px;
  height: 40px;
  margin: 8px 0 20px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #999;
}

img.img_b {
  width: 100px;
  height: 100px;
  margin: 39px 12px 43px 0;
  padding: 0 0 1px;
  object-fit: contain;
}

.Words-500-Words-t {
  width: 168px;
  height: 138px;
  margin: 20px 0 24px 12px;
  font-family: LucidaGrande;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #111;
}

.Esperanto-C- {
  width: 280px;
  height: 30px;
  margin: 0 0 8px;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #111;
}

.-G6-990 {
  width: 280px;
  height: 40px;
  margin: 8px 0 20px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #999;
}

img.img_c {
  width: 100px;
  height: 100px;
  margin: 39px 12px 43px 0;
  padding: 0 0 1px;
  object-fit: contain;
}

.Your-Language {
  width: 320px;
  height: 30px;
  margin: 60px 20px 16px;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #fff;
}

.Rectangle-Your-Language {
  width: 320px;
  height: 46px;
  margin: 16px 20px 60px;
  padding: 13px 16px 14px;
  border-radius: 2px;
  background-color: #fff;
}

img.arrow_dropdown_black {
  width: 16px;
  height: 16px;
  margin: 2px 0 1px 10px;
  padding: 2px 4px 6px;
  object-fit: contain;
}

.Rectangle-Report {
  width: 320px;
  height: 60px;
  margin: 60px 20px 10px;
  padding: 19px 20px 20px;
  border-radius: 2px;
  background-color: #fff;
}

.Rectangle-Report-Inside {
  width: 280px;
  height: 21px;
  font-family: NotoSansCJKkr;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #078d4f;
}

.Rectangle-Logout {
  width: 320px;
  height: 60px;
  margin: 10px 20px 0;
  padding: 19px 20px 9px;
  border-radius: 2px;
  background-color: #e9e9e9;
}

.Rectangle-Logout-Inside {
  width: 280px;
  height: 21px;
  margin: 0 0 11px;
  font-family: NotoSansCJKkr;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #078d4f;
}